* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #0e1525;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    color: white;
    margin: 2rem;
}

.cellContainer {
    background-color: #21283a;
    display: grid;
    grid-template-columns: repeat(3, minmax(70px, 1fr));
    grid-gap: 10px;
    width: 80vw;
    max-width: 550px;
    padding: 10px;
}

.cell {
    background-color: lightgray;
    width: 100%;
    aspect-ratio: 1;
}

.infoText {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    color: white;
    margin: 1.5rem;
}

.reloadButton {
    font-size: 1.2rem;
    background-color: #5239cc;
    width: 120px;
    height: 36px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    border-radius: 12px;
}

.reloadButton:hover {
    background-color: #6657b1;
}